<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.kungfudiscomonkey.alfred.renshuu</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Paul Traylor</string>
	<key>description</key>
	<string>Search plugin for renshuu.org</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Renshuu.org</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string>http://kungfudiscomonkey.net</string>
</dict>
</plist>
